.auth {
  display: flex;
  align-items: center;
  background: #f0f2f5;
  height: 620px;
  z-index: 9999999;
  box-shadow: var(--fb-box-shadow);
}
.facebook-login {
  display: flex;
  justify-content: center;
  gap: 30px;

  .facebook-content {
    width: 570px;
    margin-top: 50px;
    img {
      height: 106px;
      margin-left: -30px;
    }
    h2 {
      font-size: 28px;
      font-weight: 500;
      line-height: 32px;
      color: #1c1e21;
    }
  }
  .facebook-loginForm {
    width: 396px;

    form {
      display: flex;
      flex-direction: column;
      gap: 10px;
      background: white;
      padding: 20px;
      border-radius: 7px;

      input {
        font-size: 15px;
        padding: 12px 14px;
        border-radius: 5px;
        border: var(--fb-border);

        placeholder {
          color: #a01d1d;
        }
      }
      .btn {
        font-size: 20px;
        padding: 10px 12px;
        border-radius: 6px;
        color: white;
        text-align: center;
        background: var(--fb-primary-color);
        margin-top: 7px;
        cursor: pointer;
        border: none;
      }
      a {
        text-align: center;
        color: var(--fb-primary-color);
        &:hover {
          text-decoration: underline;
        }
      }
      .divider {
        border-top: var(--fb-border);
        margin: 10px 0;
      }
      .create {
        display: flex;
        justify-content: center;
        .create-btn {
          font-size: 17px;
          padding: 12px 7px;
          background: var(--fb-secondary-color);

          width: 55%;
          font-weight: 600;
        }
      }
    }
    .short-disc {
      font-size: 14px;
      margin-top: 20px;
      font-weight: 300;

      a {
        font-weight: 600;
        color: var(--fb-primary-text-color);

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

:root {
  --color1: #a56cfe;
  --color2: #f67df6;
  --angle: 120;
}
.elementor-widget-heading .elementor-heading-title {
  background: linear-gradient(
    var(--angle) 20%,
    var(--color1) 80%,
    var(--color2)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
